<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="robot_control_control" params="
      name
      prefix
      bus_config
      master_config
      can_interface_name
      master_bin">

        <ros2_control name="${name}" type="system">
            <hardware>
              <plugin>canopen_ros2_control/Cia402System</plugin>
              <param name="bus_config">${bus_config}</param>
              <param name="master_config">${master_config}</param>
              <param name="can_interface_name">${can_interface_name}</param>
              <param name="master_bin">"${master_bin}"</param>
            </hardware>
            <joint name="right_wheel_joint">
                <param name="device_name">right_wheel_joint</param>
                <param name="node_id">15</param>
                <!-- <command_interfaces name="velocity" /> -->
                <state_interface name="position" />
                <!-- <state_interface name="velocity" /> -->
            </joint>
            <joint name="left_wheel_joint">
                <param name="device_name">left_wheel_joint</param>
                <param name="node_id">14</param>
                <!-- <command_interfaces name="velocity" /> -->
                <state_interface name="position" />
                <!-- <state_interface name="velocity" /> -->
            </joint>
        </ros2_control>
    </xacro:macro>
</robot>
